.dashed { 
  stroke-dasharray: 5, 5; 
} 
.nvd3.nv-pie path{
  fill-opacity: 1 !important;
  stroke-width: 4px;
}

.nvd3.nv-pie text{
  fill: rgb(255,255,255) !important;
}

.nvd3 text{
  font: 200 12px DINDIN,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}